<footer class="footer" id="about">

    <div class="container">
        <div class="row">
            <div class="col-sm-3 footer-logo-wrapper">
                <img src="img/triwawa-logo.svg" class="footer-logo"></a>
            </div>
            <div class="col-sm-9">
                <div class="footer-container">
                    <span class="footer-top-text">
                        <b>
                            Pot i łzy? Czasami! Ale przede wszystkim wspólna pasja i dobra energia, bo to w triathlonie jest najpiękniejsze. Chcesz spróbować?
                        </b>
                    </span><br>
                    <span class="footer-bottom-text">
                        <ul class="footer-list">
                            <li>Marcin Fabiszewski</li>
                            <li class="nav-align-vertical"><i class="fa fa-phone fa-2x" aria-hidden="true"></i>&nbsp;502-891-169&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>&nbsp;<a href="mailto:triwawa@triwawa.pl">triwawa@triwawa.pl</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

    </div>

</footer>
